.force-layout .cell .border,
.force-layout .cell .border-inset {
    fill: white;
    fill-opacity: 0.0;
    stroke: #005191;
    stroke-width: 2px;
    transition: stroke 400ms;
}

.force-layout .cell-final .border {
    stroke: #666666 !important;
}

.force-layout .cell-initial .border {
    stroke: #000 !important;
}

.force-layout .cell .border-inset {
    fill: none; 
    stroke: none;
}
.force-layout .cell.highlight .border,
.force-layout .cell.highlight .border-inset {
    stroke: #666666;
}
.force-layout .cell.parallel-child .border,
.force-layout .cell.parallel-child .border-inset {
    stroke-dasharray: 10,5;
}
.force-layout .cell-isInitial .border,
.force-layout .cell-isInitial .border-inset {
    stroke-width: 0;
    fill: #005191;
    fill-opacity: 1;
}
.force-layout .cell-history .border {
    stroke: #888;
    fill: #888;
    fill-opacity: 1;
    rx: 100 !important;
    ry: 100 !important;
}
.force-layout .transition .transitionMask {
    stroke: #fff;
    stroke-width: 5;
    stroke-opacity: .6;
    fill: none;
}
.force-layout .transition .transitionLine {
    stroke: #555;
    stroke-opacity: .6;
    fill: none;
}
.force-layout .transition.highlight .transitionLine {
    stroke: red;
    stroke-opacity: 1;
    transition: stroke 400ms;
}
.force-layout .transition:hover .transitionLine {
    stroke: black;
    stroke-opacity: 1;
}
.force-layout .arrow {
    stroke-width: 1px;
    fill: #555;
}
.force-layout text {
    text-anchor: middle;
    cursor: default;
}
.force-layout .gravity {
    stroke: green;
}
.force-layout .collision {
    stroke: red;
}
.force-layout .transition-label > g > rect {
    stroke: none;
    fill: none;
    pointer-events: all;
}
.force-layout .action rect {
    fill: none;
    fill-opacity: 0.5;
    padding: 2px;
}

path.onentry {
    fill: #eee;
    fill-opacity: 0.5;    
}

path.onexit {
    fill: #ccc;
    fill-opacity: 0.5;    
}

.cell-initial  path.title {
    fill: #000 !important;
    fill-opacity: 1.0 !important; 
}

.cell-final  path.title {
    fill: #666666 !important;
    fill-opacity: 1.0 !important; 
}

path.title {
    fill: #005191 ;
    fill-opacity: 1.0; 
}

text.state-name{
    fill: white ;
}

.currentState text.state-name{
    fill: #ffdd00 !important;
}

.force-layout .force {
    pointer-events: none;
}
.force-layout .zoomRect {
    fill: none;
    stroke-width: 1px;
    pointer-events: all;
}
.force-layout .loadingOverlay rect {
    fill: white;
    opacity: 80%;
}
.force-layout .loadingOverlay text {
    text-anchor: middle;
}


/*tooltip*/
div.tooltip {
    position: absolute;			
    text-align: center;											
    font: 0.9em sans-serif;
    font-weight: bold;
    padding: 12px;   
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 4px;
    pointer-events: none;
}
